<div class="adminPanel">
	<%- partial('../../../partials/admin/header.ejs') %>

    <div class="content">
        <h1><%= title %></h1>
        <div class="row" style="margin-top: 30px;">
        	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <button class="addButton" onclick="location.href = '/admin/add-park'">Нов парк</button>
        		<table>
                    <thead>
                        <tr>
                            <th scope="col">Име</th>
                            <th scope="col">Локација</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% parks.forEach(function(park){ %>
                        <tr>
                            <td scope="row" data-label="Име"><%= park.name %></td>
                            <td data-label="Локација"><%= park.location %></td>
                            <td data-label="#">
                                <button onclick="location.href = '/admin/park/<%= park.id %>'" style="background: #0066ff85;"><i class="fa-solid fa-pen"></i></button>
                                <button onclick="location.href = '/admin/delete-park/<%= park.id %>'" style="background: #ff000085;"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>	
        	</div>
        </div>
    </div>
</div>